@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}
.primary-font{
    font-family: "Nunito Sans", sans-serif;
}

.font-heading{
    font-family: "Commissioner", sans-serif;
}

::selection{
    background-color: #989c84;
    color:white
}


@tailwind base;
@tailwind components;
@tailwind utilities;